<h1>{{question}} </h1>
<table  class="center">
		<tr>
			<td>
      <div class="imgContainer" >
				<div>
					<img src="app/components/meetingQ/img/greenSmiley.png" width="220px" height="210px"/>
				</div>
				<div class="imgButton">
					<input type="radio" value="test">
				</div>
         </div>
			</td>
      <td>
      <div class="imgContainer">
				<div>
					<img src="app/components/meetingQ/img/amberSmiley.png" width="200px" height="200px"/>
				</div>
				<div class="imgButton">
          <input type="radio" value="test">
				</div>
         </div>
			</td>
      <td>
      <div class="imgContainer">
				<div>
					<img src="app/components/meetingQ/img/RedSmiley.png" width="200px" height="200px"/>
				</div>
				<div class="imgButton">
          <input type="radio" value="test">
				</div>
         </div>
			</td>
		</tr>
	</table>
