.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.form-wrapper div {
  margin: 5%;
  padding: 2%;
  border: 10px solid lightblue;
}
